<h1>{{title}}</h1>
<p>{{message}}</p>

<section>
    <ul>
        {{#each features}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <ul>
        {{#each lorem}}
        <li class="lorem">{{this}}</li>
        {{/each}}
    </ul>
</section>
