<h1>{{title}}</h1>
<p>{{message}}</p>

<section>
    <ul>
    {{#each services}}
        <li>{{this}}</li>
    {{/each}}
</ul>
</section>

<section>
    <ul class="lien-img">
        <li><img src="/images/dev-web.jpeg" alt=""></li>
        <li><img src="/images/des-gr.jpeg" alt=""></li>
        <li> <img src="/images/seo.jpeg" alt=""></li>
    </ul>
</section>